@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset styles */
* {
  color: inherit;
  margin: 0;
  font-family: "Inter", "Roboto";
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: red;
}

img {
  max-width: 100%;
}

span {
  color: red;
  font-size: 16px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #676767;
  height: 116px;
  z-index: 1;
}
.navbar .nav-logo {
  font-size: 60px;
  color: white;
  font-weight: 500;
  padding-left: 67.5px;
}
.navbar .nav-links {
  display: flex;
  align-items: center;
}
.navbar .nav-links .nav-links-btn {
  margin-left: 141.5px;
  margin-right: 100px;
  width: 190px;
  height: 49px;
  background: #ED1C1C;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.navbar .nav-links ul {
  list-style-type: none;
  display: flex;
}
.navbar .nav-links ul li {
  padding-left: 52px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.container {
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
}
.container #home {
  display: flex;
  height: 700px;
  justify-content: space-between;
}
.container #home .home-text {
  padding-top: 120px;
  font-family: "Roboto";
  margin-left: -20px;
}
.container #home .home-text h3 {
  font-size: 30px;
  font-weight: 500;
}
.container #home .home-text h1 {
  font-size: 50px;
  line-height: 59px;
  padding-top: 10px;
  font-weight: 600;
}
.container #home .home-text .p1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 42px;
}
.container #home .home-text .p2 {
  font-size: 16px;
  line-height: 24px;
  padding-top: 30px;
  width: 622px;
  padding-right: 113px;
}
.container #home .home-text .home-text-links-btn {
  width: 135px;
  height: 49px;
  background: #ED1C1C;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 59px;
}
.container #home .home-text .home-social-media {
  display: flex;
  align-items: center;
}
.container #home .home-text .home-social-media h3 {
  font-size: 28px;
  margin-right: 38px;
}
.container #home .home-text .home-social-media img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer;
}
.container #home .home-text .home-profile-pic {
  position: relative;
}
.container #home .home-text .home-profile-pic img {
  width: 610px;
  height: 348px;
  position: relative;
}

.pic-1 {
  position: absolute;
  top: 236px;
  right: 98px;
}

.pic-2 {
  position: absolute;
  top: 346px;
  right: 200px;
}

.pic-3 {
  position: absolute;
  top: 266px;
  right: 147px;
}

.services {
  margin-left: -20px;
}
.services span {
  font-size: 16px;
  font-weight: 400;
}
.services h3 {
  margin-top: 6px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}
.services .services-row {
  display: grid;
  place-items: center;
  grid-template-columns: 50% 50%;
  gap: 1.5em;
  margin-top: 30px;
}
.services .services-row div {
  width: 670px;
  height: 348px;
  background-color: #676767;
  border-radius: 5px;
}
.services .services-row div img {
  margin-left: 73px;
  margin-top: 54px;
}
.services .services-row div h3 {
  margin-left: 73px;
  margin-top: 32px;
  font-size: 32px;
  color: white;
  font-weight: 600;
  line-height: 40px;
}
.services .services-row div p {
  margin-left: 73px;
  margin-top: 23px;
  font-size: 16px;
  color: white;
  font-weight: 400;
  line-height: 40px;
  max-width: 463px;
  max-height: 114px;
}

.text {
  display: grid;
  grid-template-columns: 50% 50%;
}

.text > h3:nth-child(2) {
  margin-left: 17px;
}

section#resume {
  margin-top: 120px;
}

.certificate-block > h3 {
  padding-top: 30px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

#portfolio {
  margin-left: -20px;
  margin-top: 120px;
}
#portfolio .recent-works {
  display: grid;
  place-items: center;
  grid-template-columns: 50% 50%;
  gap: 1.2em;
  margin-top: 30px;
}
#portfolio .recent-works img {
  width: 800px;
  height: 348px;
}

#portfolio h3 {
  margin-top: 6px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

#portfolio button {
  width: 188px;
  height: 59px;
  margin-left: 700px;
  margin-top: 64px;
  color: red;
  font-size: 1rem;
  font-weight: 600;
  border: #ED1C1C solid 1px;
  box-shadow: 1px 0.5px 1px 0.5px rgba(237, 28, 28, 0.5);
}
#portfolio button:hover {
  color: blue;
}

#Testimonial div p {
  max-height: 15px;
  font-size: 14px;
}

#Testimonial div img {
  margin-left: 270px;
}

#Testimonial div h3 {
  margin-top: -1px;
  margin-left: 230px;
}

#Testimonial .hi {
  font-weight: 700;
  margin-top: 30px;
}

.top-client-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  margin-top: 30px;
}
.top-client-row h3 {
  font-weight: 700;
}
.top-client-row div {
  width: 330px;
  height: 100px;
  border-radius: 5px;
  background-color: #676767;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-client-row div p {
  align-items: center;
  font-size: 40px;
  color: white;
  font-weight: 600;
}

#contact {
  margin-top: 120px;
  margin-left: -20px;
}
#contact h3 {
  font-size: 32px;
  margin-top: 6px;
}
#contact .contact-row {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 35px;
}
#contact .contact-row .col {
  display: grid;
  place-items: center;
  align-items: center;
}
#contact .contact-row .col h3 {
  font-size: 30px;
}

.message {
  margin-top: 120px;
}
.message #texty {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 50px;
}
.message .message-form {
  width: 100% px;
  margin: 0 auto;
  background-color: #676767;
  height: 950px;
  padding-left: 190px;
  padding-right: 190px;
  padding-top: 25px;
  padding-bottom: 52px;
  margin-bottom: 120px;
}
.message .message-form .name {
  width: 960px;
  height: 80px;
  padding: 20px;
  outline: none;
}
.message .message-form .email {
  width: 960px;
  height: 80px;
  padding: 10px;
  outline: none;
}
.message .message-form .phone {
  width: 960px;
  height: 80px;
  padding: 10px;
  outline: none;
}
.message .message-form #text {
  width: 960px;
  height: 270px;
  padding: 10px;
  outline: none;
}

form h3 {
  font-size: 24px;
  color: white;
  font-weight: 500;
  margin-top: 37px;
}

.form-text-links-btn {
  margin-top: 20px;
  align-items: center;
  margin-left: 375px;
  width: 190px;
  height: 49px;
  background: #ED1C1C;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.footer {
  height: 285px;
  background-color: #676767;
  text-align: center;
  color: white;
  padding-top: 87px;
}
.footer h1 {
  font-size: 60px;
}
.footer h2 {
  font-size: 16px;
  margin-top: 80px;
}